@model IEnumerable<Backend.Marca>

<h1>Marca</h1>

@Html.ActionLink("Cadastrar", "Create", "Marca", null, new { @class = "btn btn-primary" })
<br /><br />
<table class="table table-responsive">
	<tr>
		<th>Id</th>
		<th>Nome</th>
		<th>Origem</th>
		<th></th>
	</tr>
	@foreach (var marca in Model) {
	<tr>
		<td>@marca.id</td>
		<td>@marca.nome</td>
		<td>@marca.pais.nome</td>
		<td>
			@Html.ActionLink("Editar", "Edit", new { id = marca.id })
			@if (!marca.veiculos.Any()) {
				@Html.ActionLink("Excluir", "Delete", new { id = marca.id }, new { onclick = "return confirm('Deseja realmente excluir?');" })
			}
		</td>
	</tr>
	}
</table>
